:root {
  --company-gold: #c38823;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  width: 9rem;
  height: 5rem;
  object-fit: cover;
  margin-left: 2rem;
}

a {
  color: var(--company-gold);
  text-decoration: none;
}

.navbar a {
  margin: 0 2rem 0 2rem;
}

a:hover {
  text-decoration: underline;
}

main,
#hero {
  text-align: center;
}

#hero {
  margin-top: 3rem;
}

#email {
  display: block;
  margin: 0 auto;
  width: 15rem;
  height: 1.2rem;
}

form button {
  width: 9rem;
  padding: 5px;
  margin-top: 0.8rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  background-color: var(--company-gold);
  color: white;
  border: 0;
  border-radius: 2px;
}

form button:hover {
  text-decoration: underline;
}

form button:active {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6) inset;
}

.selling-points {
  margin-top: 3rem;
}

i {
  color: var(--company-gold);
  font-size: 2rem;
  vertical-align: middle;
  padding-right: 0.4rem;
}

i,
h3 {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.how-it-works {
  margin-top: 3rem;
}

.pricing {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing-card {
  width: 15rem;
  border-radius: 5px;
  margin: 2rem 2rem 0rem 2rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.5s ease-out;
}

.pricing-card:hover {
  box-shadow: 0 0 25px 0 var(--company-gold);
}

footer {
  margin: 4rem 0 0.5rem 0.5rem;
  text-align: left;
  font-size: 0.8em;
}

@media (max-width: 500) {
  #video {
    width: 335px;
    height: 189px;
  }
}
