:root {
  --company-gold: #c38823;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  margin: 0;
  position: sticky;
  top: 0;
  left: 0%;
  background-color: white;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  width: 9rem;
  height: 5rem;
  object-fit: cover;
  margin-left: 2rem;
}

a {
  color: var(--company-gold);
  text-decoration: none;
}

.navbar a {
  margin: 0 2rem 0 4rem;
}

a:hover {
  text-decoration: underline;
}

main,
#hero {
  text-align: center;
}

#email {
  display: block;
  margin: 0 auto;
  font-size: 1.05rem;
  width: 15rem;
  height: 1.2rem;
}

form button {
  width: 10rem;
  padding: 5px;
  margin-top: 0.8rem;
  font-size: 1.15rem;
  text-transform: uppercase;
  background-color: var(--company-gold);
  color: white;
  border: 0;
  border-radius: 2px;
}

form button:hover {
  text-decoration: underline;
}

form button:hover {
  text-decoration: underline;
}

form button:active {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6) inset;
}

i {
  color: var(--company-gold);
  font-size: 2rem;
}

i,
h3 {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pricing-card {
  border: 2px solid black;
  margin: 2rem 2rem 0rem 2rem;
}

footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.8em;
}
